@media (max-width: 1024px){
    #homeTextImage{
        display: none;
    }

}
@media (max-width: 550px){
    html{
        font-size: 12px;
    }
}
@media (max-width: 400px){
    html{
        font-size: 10px;
    }
}
@media (max-width: 350px){
    html{
        font-size: 8px;
    }
}

@media (width <= 400px) {
    #content{
        margin-top: -10px;
    }
}
@media (width <= 350px) {
    #content{
        margin-top: -20px;
    }
}
#home{
    background: linear-gradient(to right, #dfc4db, #c3f6f3);
}