#contact{
    background: linear-gradient(to right, #dfc4db, #c3f6f3)
}

@media (max-width: 1024px){
    #contactImage{
        display: none;
    }
}
@media (width < 1024px){
    #contactForm{
        margin-top: 10%;
    }
}