@media (max-width: 1024px){
    #homeTextImage{
        display: none;
    }

}
@media (max-width: 550px){
    html{
        font-size: 12px;
    }
}
@media (max-width: 400px){
    html{
        font-size: 10px;
    }
}
@media (max-width: 350px){
    html{
        font-size: 8px;
    }
}

@media (width <= 400px) {
    #content{
        margin-top: -10px;
    }
}
@media (width <= 350px) {
    #content{
        margin-top: -20px;
    }
}
#home{
    background: linear-gradient(to right, #ece3f6, #f8f6df);
}

#homeTextBox{
    background: linear-gradient(to right, #b10101, #6d0101);
    left: 30%;
    bottom: 15%;
}

#homeTextImage {
    position: relative; /* Establishes stacking context */
}

.homeCircle {
    position: absolute;
    background: linear-gradient(to right, #b10101, #6d0101);
    height: 100%;
    width: 35vw;
    z-index: 1;
    border-radius: 50%;
    top: 0;
    left: 13%; 
}

.homeMainImage {
    position: relative; /* Stays within the stacking context */
    z-index: 2; /* Ensure it appears above the circle */
}


@media(width <= 1024px) {
    #homeTextBox{
        left: 32%;
        bottom: 35%;
    }
}
@media(width <= 350px) {
    #homeTextBox{
        left: 42%;
        bottom: 40%;
    }
}

@media (width <= 550px) {
    #homeTextBox{
        margin-bottom: 4rem;
    }
}