@media (max-width: 1024px){
    #homeTextImage{
        display: none;
    }

}
@media (max-width: 550px){
    html{
        font-size: 12px;
    }
}
@media (max-width: 400px){
    html{
        font-size: 10px;
    }
}
@media (max-width: 350px){
    html{
        font-size: 8px;
    }
}

@media (width <= 400px) {
    #content{
        margin-top: -10px;
    }
}
@media (width <= 350px) {
    #content{
        margin-top: -20px;
    }
}
#home{
    /* background: linear-gradient(to right, #ece3f6, #f8f6df); */
    background-image: url(/img/slickbackBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(20px); */
}

#homeTextBox{
    background: linear-gradient(to right, #b10101, #6d0101);
    left: 30%;
    bottom: 15%;
}

#homeTextImage {
    position: relative; /* Establishes stacking context */
}

.homeMainImage {
    position: relative; /* Stays within the stacking context */
    z-index: 2; /* Ensure it appears above the circle */
}


@media(width <= 1024px) {
    #homeTextBox{
        left: 32%;
        bottom: 35%;
    }
}
@media(width <= 350px) {
    #homeTextBox{
        left: 42%;
        bottom: 40%;
    }
}

@media (width <= 550px) {
    #homeTextBox{
        margin-bottom: 4rem;
    }
}